In [84]:
#Diccionario, Tuplas y Listas
##Estudiante1
x = 'Nombre : Cristobal'
y = 'Cursos: Programacion y Fisica'
z = 'Notas : 5.6 y 6'
t = (x, y, z)
type(t)
print(t[0])
print(t[1])
print(t[2])

Nombre : Cristobal
Cursos: Programacion y Fisica
Notas : 5.6 y 6

In [87]:
##Estudiante1 2.0
x = 'Cristobal'
y = 'Programacion y Fisica'
z = '5.6 y 6'
t = (x, y, z)
type(t)
print(t[0])
print(t[1])
print(t[2])

Cristobal
Programacion y Fisica
5.6 y 6

In [54]:
##Estudiante2
a = 'Nombre : Juan'
b = 'Cursos : Programacion y Fisica'
c = 'Notas : 4.8 y 3.6'
d = (a, b, c)
type(d)
print(d[0])
print(d[1])
print(d[2])

Nombre : Juan
Cursos : Programacion y Fisica
Notas : 4.8 y 3.6

In [57]:
##Estudiante3
q = 'Nombre : Catalina'
w = 'Cursos : Programacion y Fisica'
e = 'Notas : 7 y 6.3'
r = (q, w, e)
type(r)
print(r[0])
print(r[1])
print(r[2])

Nombre : Catalina
Cursos : Programacion y Fisica
Notas : 7 y 6.3

In [78]:
##Estudiante4
p = 'Nombre : Francisca'
o = 'Cursos : Programacion y Fisica'
i = 'Notas : 3.9 y 6.7'
u = (p, o, i)
type(u)
print(u[0])
print(u[1])
print(u[2])

Nombre : Francisca
Cursos : Programacion y Fisica
Notas : 3.9 y 6.7

In [1]:
#Diccionario de un estudiante
diccionario = {'Nombre': 'Cristobal', 'Cursos': 'Programacion y Fisica','Notas': '5.6 y 6'}
print(diccionario['Nombre'])
print(diccionario['Cursos'])
print(diccionario['Notas'])

Cristobal
Programacion y Fisica
5.6 y 6